
/* non-specific shit */

#header{
	width: 100vw;
	background: #555;
	margin-bottom: 50px;
	padding: 1em 5em 1em 5em;
	text-align: right;
	color: #FFF;
}

#container{
	display: flex;
  	display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    box-shadow: inset 0 0 0 1000px rgba(200,200,200,0.85);
    -webkit-box-shadow: inset 0 0 0 1000px rgba(200,200,200,0.85);
	-moz-box-shadow: inset 0 0 0 1000px rgba(200,200,200,0.85);
}

.hero-card{
	height: 212px;
	width: 270px;
	margin: 2em 2em 2em 2em;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-box-shadow: 5px 10px 33px 6px rgba(0,0,0,1);
	-moz-box-shadow: 5px 10px 33px 6px rgba(0,0,0,1);
	box-shadow: 5px 10px 33px 6px rgba(0,0,0,1);
}

.hero-card:hover{
	cursor: pointer;
}

#hero-lore-background{
	position: fixed;
	height: 100vh;
	width: 100vw;
	background: rgba(0,0,0,.5);
	display: none;
	visibility: hidden;
	top: 0;
	z-index: 10;
}

#hero-lore{
	position: fixed;
	font-family: 'Assistant', sans-serif;
	background: rgb(0,0,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(25,25,25,1) 63%, rgba(40,40,40,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(25,25,25,1) 63%,rgba(40,40,40,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(25,25,25,1) 63%,rgba(40,40,40,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3a3a3a',GradientType=0 ); /* IE6-9 */
	color: #FFF;
	left: 50%;
	transform: translateX(-50%);
	top: 1em;
	display: none;
	visibility: hidden;
	padding: 3em 1em 1em 1em;
	-webkit-box-shadow: 4px 6px 25px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 6px 25px 3px rgba(0,0,0,0.75);
	box-shadow: 4px 6px 25px 3px rgba(0,0,0,0.75);
	border-radius: 5px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#hero-lore.open{
	display: block;
	visibility: visible;
}

#hero-lore-background.open{
	display: block;
	visibility: visible;
}

#hero-lore #profile-pic{
	height: 212px;
	width: 270px;
	max-width: 100%;
	max-height: auto;
	margin: 0 auto;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-box-shadow: 4px 6px 25px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 6px 25px 3px rgba(0,0,0,0.75);
	box-shadow: 4px 6px 25px 3px rgba(0,0,0,0.75);
}

#hero-lore #bio{
	width: 270px;
	max-width: 100%;
	margin: 2em auto;
	text-transform: uppercase;
	color: rgba(219,189,104,1.0);
	text-align: center;
}

#hero-lore #bio h2{
	font-family: 'Assistant', sans-serif;
	color: #FFF;
	margin: 0 0 0.5em 0;
}

#hero-lore #bio #bio-body{
	text-align: center;
}

#hero-lore #bio ul{
	padding: 0;
}

#hero-lore #bio ul li{
	margin: 0 0 1.25em 0;
	list-style: none;
}

.close {
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    transition: transform .5s ease-in-out;
}

.close:hover {
	cursor: pointer;
    transform: rotate(180deg);
}

.close:before {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 16px;
    height: 0;
    border-top: 3px solid rgba(255,255,255,255.5);
    transform: rotate(45deg);
    transform-origin: center;
}

.close:after {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 16px;
    height: 0;
    border-top: 3px solid rgba(255,255,255,255.5);
    transform: rotate(-45deg);
    transform-origin: center;
}


/* media queries */

	/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
	@media (min-width:320px)  { 
		#hero-lore{
			height: 80%;
			width: 90%;
		}
	}
	/* smartphones, Android phones, landscape iPhone */
	@media (min-width:480px)  {
		#hero-lore{
			height: 80%;
			width: 90%;
		}
	}
	/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
	@media (min-width:600px)  {
		#hero-lore{
			height: 80%;
			width: 90%;
		}
	}
	/* tablet, landscape iPad, lo-res laptops ands desktops */
	@media (min-width:801px)  {
		#hero-lore{
			height: 80%;
			width: 80%;
		}
	}
	/* big landscape tablets, laptops, and desktops */
	@media (min-width:1025px) {
		#hero-lore{
			height: 80%;
			width: 60%;
		}
	}
	/* hi-res laptops and desktops */
	@media (min-width:1281px) {
		#hero-lore{
			height: 80%;
			width: 60%;
		}
	}

/* specific shit */

.sevarog{
	background-image: url('../img/sevarog.png') !important;
}
.serath{
	background-image: url('../img/serath.png') !important;
}
.crunch{
	background-image: url('../img/crunch.png') !important;
}
.wukong{
	background-image: url('../img/wukong.png') !important;
}
.feng-mao{
	background-image: url('../img/feng-mao.png') !important;
}
.grim{
	background-image: url('../img/grim.png') !important;
}
.the-fey{
	background-image: url('../img/the-fey.png') !important;
}
.morigesh{
	background-image: url('../img/morigesh.png') !important;
}
.countess{
	background-image: url('../img/countess.png') !important;
}
.sparrow{
	background-image: url('../img/sparrow.png') !important;
}
.greystone{
	background-image: url('../img/greystone.png') !important;
}
.khaimera{
	background-image: url('../img/khaimera.png') !important;
}
.yin{
	background-image: url('../img/yin.png') !important;
}
.aurora{
	background-image: url('../img/aurora.png') !important;
}
.narbash{
	background-image: url('../img/narbash.png') !important;
}
.iggy-and-scorch{
	background-image: url('../img/iggy-and-scorch.png') !important;
}
.grux{
	background-image: url('../img/grux.png') !important;
}
.kwang{
	background-image: url('../img/kwang.png') !important;
}
.howitzer{
	background-image: url('../img/howitzer.png') !important;
}
.gadget{
	background-image: url('../img/gadget.png') !important;
}
.twinblast{
	background-image: url('../img/twinblast.png') !important;
}
.belica{
	background-image: url('../img/belica.png') !important;
}
.rampage{
	background-image: url('../img/rampage.png') !important;
}
.kallari{
	background-image: url('../img/kallari.png') !important;
}
.wraith{
	background-image: url('../img/wraith.png') !important;
}
.shinbi{
	background-image: url('../img/shinbi.png') !important;
}
.phase{
	background-image: url('../img/phase.png') !important;
}
.dekker{
	background-image: url('../img/dekker.png') !important;
}
.revenant{
	background-image: url('../img/revenant.png') !important;
}
.murdock{
	background-image: url('../img/murdock.png') !important;
}
.riktor{
	background-image: url('../img/riktor.png') !important;
}
.muriel{
	background-image: url('../img/muriel.png') !important;
}
.steel{
	background-image: url('../img/steel.png') !important;
}
.gideon{
	background-image: url('../img/gideon.png') !important;
}
